<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FilterName</key>
		<string>No Filter</string>
		<key>FilterDisplayName</key>
		<string>Normal</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectChrome</string>
		<key>FilterDisplayName</key>
		<string>Chrome</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectFade</string>
		<key>FilterDisplayName</key>
		<string>Fade</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectInstant</string>
		<key>FilterDisplayName</key>
		<string>Instant</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectMono</string>
		<key>FilterDisplayName</key>
		<string>Mono</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectNoir</string>
		<key>FilterDisplayName</key>
		<string>Noir</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectProcess</string>
		<key>FilterDisplayName</key>
		<string>Process</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectTonal</string>
		<key>FilterDisplayName</key>
		<string>Tonal</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectTransfer</string>
		<key>FilterDisplayName</key>
		<string>Transfer</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CILinearToSRGBToneCurve</string>
		<key>FilterDisplayName</key>
		<string>Tone</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CISRGBToneCurveToLinear</string>
		<key>FilterDisplayName</key>
		<string>Linear</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CISepiaTone</string>
		<key>FilterDisplayName</key>
		<string>Sepia</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIPhotoEffectTransfer</string>
		<key>FilterDisplayName</key>
		<string>Transfer</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIColorPosterize</string>
		<key>FilterDisplayName</key>
		<string>Posterize</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>CIColorInvert</string>
		<key>FilterDisplayName</key>
		<string>Invert</string>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
